<!DOCTYPE html>
<html ng-app="ticTacToeApp">
  <head>
    <title>TIC TAC TOE</title>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="js/angular-1.2.13/angular.min.js"></script> 
    <script src="js/tictactoe_game.js"></script>
  </head>
  
  <body ng-controller="gameCtrl">

     <div id="game">
      
       <ul id="teams">
        <li class>
          <img src="/img/bert.jpg">
          <h2>Team <span class="team"></span></h2>
          <h3 class="player"></h3>
        </li>
        <li class>
          <img src="/img/ernie.jpg">
          <h2>Team <span class="team"></span></h2>
          <h3 class="player"></h3>
        </li>
      </ul>
      <div id="board">
        <div ng-repeat="id in tileIds" id="tile{{id}}" class="tile" ng-click="selected($index)">
        </div>
      </div>
      <div id="results">
        <h1></h1>
        <span class="image"></span>
        <button>play again</button>
      </div>
    </div>


  <!-- <script src="js/tictactoe.js"></script> -->
  </body>

</html>


